<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.athome">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 위치정보활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 위치정보활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- WIFI 상태활용시 추가 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 카메라 권한 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".admin_enroll.AdminEnrollData"></activity>
        <activity android:name=".admin_enroll.AdminEnrollClicked" />
        <activity android:name=".admin_enroll.AdminEnrollActivity" />
        <activity android:name=".admin_notice.AdminListAdapter" />
        <activity android:name=".admin_notice.AdminNoticeClicked" />
        <activity android:name=".admin_notice.ItemAdminNoticeData" />
        <activity android:name=".admin_notice.AdminNoticeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".admin.UsersListActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".notice.NoticeActivity" />
        <activity android:name=".notice.NoticeClicked" />
        <activity android:name=".reservation_list.ReservListActivity" />
        <activity android:name=".account.AccountActivity" />
        <activity android:name=".ReserveActivity" />
        <activity android:name=".ReserveConfirm" />
        <activity android:name=".DetailsActivity" />
        <activity android:name=".account.AccountChangePassword" />
        <activity android:name=".account.AccountCardList" />
        <activity android:name=".account.AccountCardRegister" />
        <activity android:name=".shared_parking.MySharedParkingActivity" />
        <activity android:name=".shared_parking.EnrollSharedParking" />
        <activity android:name=".shared_parking.SharedParkingExplanation"/>

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="25z9e189v0" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9231d5559afddc59ed2a21844af07676" />

        <activity android:name=".main.MainActivity" />
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        -
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.athome.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>